

/** {*/
/*    border: 1px solid black;*/
/*}*/

html, body {
    height: 100%;
    font-size: 15px;
}

/* Structural Properties */
.container-fluid {
    height: 100%;
    overflow: hidden;
}

.container-col {
    height: 100%;
}

.row {
    margin: 0;
    align-content: center;
    height: 100%;
}

#buttons {
    /*border-right: 1px solid grey;*/
    overflow-y: scroll;
}

#cube-view {
    height: 100%;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

#button {
    /*border-bottom: 1px solid grey;*/
    width: 100%;
}

.btn {
    width: 100%;
}

#c {
  width: 100%;
  height: 100%;
  display: block;
}
